@import '../../scss/global';

.feedback-card {
	margin-top: 10px;
	background-color: $white;
	color: $dark-moderate-blue;
	height: 151px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 10px;

	.upvote-btn {
		visibility: hidden;
		width: 40px;
		height: 53px;
		align-self: flex-start;
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		background-color: $off-white;
		border-radius: 10px;
		margin-left: 1rem;
		span {
			margin: 0 auto;
		}
	}

	.card-overview {
		margin-left: 1rem;
		width: 89%;
		p {
			color: $desaturated-dark-blue;
		}
		span {
			background-color: $off-white;
			color: $dark-moderate-blue;
			padding: 5px 10px;
			border-radius: 12px;
		}
	}

	.comment {
		margin-left: -10rem;
		span {
			margin: 0 5px;
		}
		.fa-comment {
			color: $light-gray;
		}
	}
}
