@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');

html,
body {
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Jost', sans-serif;
	background-color: #f2f2f2;
	min-height: 100vh;
}
