// Colors
// Main
$primary: #ad1fea;
$secondary: #4661e6;
$tertiary: #373f68;

$primary-hover: #c75af6;

// Shades
$white: #ffffff;
$off-white: #f2f4ff;
$eggshell: #f7f8fd;
$gray: #979797;

// Others
$dark-moderate-blue: #3a4374;
$desaturated-dark-blue: #647196;
$soft-red: #f49f85;
$soft-blue: #62bcfa;
